*.jpg
*.png
*.gif
*.pdf
*.doc
*.dox
*.LOG
/Rose_Decorating/R\&R\ decoration\ requirements\ -\ documents
/Desktop/Rose_Decorating/images 
/Desktop/Rose_Decorating/WS_FTP.LOG

/Users/lanrej/Desktop/Rose_Decorating/R\&R\ decoration\ requirements\ -\ documents/survey_r\&r\ decorations\ 2.doc

/Users/lanrej/Desktop/Rose_Decorating/R\&R\ decoration\ requirements\ -\ documents/Greyside\ R\&Rose\ Decoratings_Website_Design_Agreement.doc 

 


  
