h2 {
	color: #CCC;
	background-color:#000;
	padding:10 0 10 20;
	}
h3 {
	color: #CCCCCC;
	text-align:center;
	}
h4 {
	color: #000000
	}
table {
	color: #FFFFFF
	}
td, th {
	font-family: "Arial", Arial, sans-serif;
	font-size: 1em
	}

.topics{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:400;
	color:#000000;
	decoration:none;
	background-color: #CCCCCC;
	border: none;
	height: auto;
	width: auto;
	font-style: normal;


}


h3.red{
    color:#EE2B35;
}


h3.normal{
  padding-align:right;
  text-align:center;
  font: 180% Georgia, "Times New Roman",Times, Serif;
  color: #EE2B35;
  
}

h4.normal{
  padding-align:right;
  text-align:center;
  font: 150% Georgia, "Times New Roman",Times, Serif;
  color: #EE2B35
  
}

h3.normalblue{
  padding-align:right;
  text-align:center;
  font: 170% Georgia, "Times New Roman",Times, Serif;
  color: #218BCE;
  
}

h3.normalblue:link{
   colour:#218BCE;
}


h4.normalblue{
  padding-align:right;
  text-align:center;
  font: 150% Georgia, "Times New Roman",Times, Serif;
  color: #218BCE
  
}

h4.normalblue:link{
    color:#218BCE;
}



li.normal{
       line-height:2.0;
}


li.nli{

  font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
  color:#EE2B34;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #EE2B34;
  line-height:2.0;
  list-style:none;

}

.adbox {
padding: 2px 4px 2px 6px;
margin: 0 0 10px 0;
border: 1px dotted #B1B1B1;
background-color: #000;
height:200px;
width: 300px;
min-height:80px;
min-width: 80px;
}

/** could use less to divide height by half  **/
.adbox2 {
padding: 2px 4px 2px 6px;
margin: 0 0 10px 0;
border: 1px dotted #B1B1B1;
background-color: #F4F4F4;
min-height:10px;
}


a.menu:link{
   color: #901602;
   
   text-decoration:none;
}

a.menu:visited{
  color: #ffffff;
  text-decoration:none;
}

a.menu:Hover{
    color: #621313;
    text-decoration:none;
}


ul.nlu{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 184px;
}



.centered{
	text-align:center;
}

	
.Navigator{
    font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
        
        
}
a.Navigator:link{
	color:#FFFFFF;
	font-weight:300;
	decoration: none;
}

a.Navigator:Hover{
	color:#0A5BBF;
	font-weight:300;
	decoration: none;	
}



	
	
.footer {	
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: .75em;	
	color: #999999
	}
